.idea/
*.swp
/java/Leccion 1/HolaMundo/nbproject/private/
/java/Leccion 1/HolaMundo/build/
/java/Leccion 2/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/build/
/java/Clase 6/Practica/nbproject/private/
/java/Clase 6/Practica/build/
/java/Clase 6/Ejercicio_1/nbproject/private/
/java/Clase 6/Ejercicio_1/build/
/java/Clase 7/Ejercicio2/build/
/java/Clase 8/Ejercitacion/Ejercicio7/build/
/java/Clase 8/Ejercitacion/Ejercicio5/build/
/java/Clase 7/EjercicioRectangulo/build/
/java/Clase 8/Ejercitacion/Ejercicio6/build/
