.idea/
*.swp
/java/Leccion 1/HolaMundo/nbproject/private/
/java/Leccion 1/HolaMundo/build/
/java/Leccion 2/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/build/
/java/Clase 6/Practica/nbproject/private/
/java/Clase 6/Practica/build/
/java/Clase 6/Ejercicio_1/nbproject/private/
/java/Clase 6/Ejercicio_1/build/
/java/Clase 1/nbproject/private/
/java/Clase 2/nbproject/private/
/java/Clase 2/build/
/java/Clase 1/Clase 1/nbproject/private/
/java/Clase 1/build/
/java/Clase 3/nbproject/private/
/java/Clase 3/build/
/java/Clase 4/nbproject/private/
/java/Clase 4/build/
/java/Clase 5/nbproject/private/
/java/Clase 5/build/
/java/Clase 6/nbproject/private/
/java/Clase 6/build/
/java/Clase 7/nbproject/private/
/java/Clase 7/build/
/java/Clase 8/nbproject/private/
/java/Clase 8/build/
/java/Clase 9/nbproject/private/
/java/Clase 9/build/
/java/Clase 10/nbproject/private/
/java/Clase 10/build/
