.idea/
*.swp
/java/Leccion 1/HolaMundo/nbproject/private/
/java/Leccion 1/HolaMundo/build/
/java/Leccion 2/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/nbproject/private/
/java/Clase 3 Ejercitacion/Clase 3/build/
/java/Clase 6/Practica/nbproject/private/
/java/Clase 6/Practica/build/
/java/Clase 6/Ejercicio_1/nbproject/private/
/java/Clase 6/Ejercicio_1/build/
/java/Clase 7/Ejercicio1/nbproject/private/
/java/Clase 7/EjercicioRectangulo/nbproject/private/
/java/Clase 7/EjercicioRectangulo/build/
/java/Clase 7/Ejercicio2/nbproject/private/
/java/Clase 7/Ejercicio2/build/
/java/Clase 8/Ejercitacion/Ejercicio5/nbproject/private/
/java/Clase 8/Ejercitacion/Ejercicio5/build/
/java/Clase 8/Ejercitacion/Ejercicio6/nbproject/private/
/java/Clase 8/Ejercitacion/Ejercicio6/build/
/java/Clase 8/Ejercitacion/Ejercicio7/nbproject/private/
/java/Clase 8/Ejercitacion/Ejercicio7/build/
/java/Clase 8/Ejercitacion/Ejercicio1/target/
/java/Clase 8/Ejercitacion/Ejercicio_1/nbproject/private/
/java/Clase 8/Ejercitacion/Ejercicio_1/build/
/java/Clase 8/Ejercitacion/Ejercicio_4/nbproject/private/
/java/Clase 8/Ejercitacion/Ejercicio_4/build/
/java/Clase 8/Ejercitacion/Ejercicio 10.5/nbproject/private/
/java/Clase 8/Ejercitacion/Clase 9/nbproject/private/
/java/Clase 8/Ejercitacion/Clase 9/build/
/java/Clase 9/Ejercitacion/nbproject/private/
/java/Clase 9/Clase 10/nbproject/private/
